

.raleway{
    font-family: 'Raleway', sans-serif;
}

.chivo{
    font-family: 'Chivo', sans-serif;
}

html, body{
    /* background-color: #ededed; */
    background-color: #fff;
    font-family: 'Chivo', sans-serif;
}

body{
    overflow: clip;
    height: fit-content;
}

h1{
    
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.loading{
    margin: auto;
    width: 100px;
}

.viz-container{
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section{
    scroll-margin-top: 0em!important;
}

.viz-section{
    padding: 0 150px 0 150px;
    padding: 50px;
    display: block;
    scroll-margin-top: 0em!important;
}

.dot-ref{
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

.dot{
    min-height: 8px;
    min-width: 8px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;   
}
.bold{
    font-weight: bold;
}
.dot0{
    background-color: #bbbbbb;
}

.dot1{
    background-color: #00B1AF;
}

.color1{
    color:#00B1AF
}

.dot2{
    background-color: #cf4833
}
.opacity25{
    opacity: 25%;
}
.dot3{
    background-color: #5fd3a6
}
.dot4{
    background-color: #dfbf41
}
.dot5{
    background-color: #cf4834
}
.dot6{
    background-color: #a365ba
}
.dot7{
    background-color: #e59d3f   
}

.dot8{
    background-color: #000   
}

.dot9{
    background-color: #3262c0
}

.dot10{
    background-color: #cd3d2b
}
.dot11{
    background-color: #e9dfb1
}
.dot12{
    background-color: #1db8b1
}

.color2{
    color:#cf4833
}

.color3{
    color: #5fd3a6
}
.color4{
    color: #dfbf41
}
.color5{
    color: #cf4834
}

.color6{
    color:#a365ba
}

.color7{
    color: #e59d3f;
}

.color9{
    color: #3262c0
}

.color10{
    color: #cd3d2b
}
.color11{
    color: #e9dfb1
}
.color12{
    color: #1db8b1
}

.dot-container-container {
    min-height: 200px;
}

.dot-container{
    width: 100%;
    display: flex;
    flex:1 1 auto;
    text-align:left;
    flex-direction: row;
    flex-wrap: wrap;
}

.viz-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.viz-footer-col-1-numero{
    font-size: 20px;
    font-weight: bold;
}

.ref-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-right: 30px;
    align-items: center;
}

.viz-footer-ref{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ref-text{
    line-height: 1;
    margin-left: 5px;
}

.viz-ref{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dot-ref-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dot-ref-label{
    font-size: 10px;

}

.dot-ref-contador{
    font-size: 12px;
    font-weight: 900;

}

.dot-ref-porcentaje{
    font-size: 10px;

}

nav{
    max-width: 180px;
    position:fixed;
    right: 0;
    top: 0px;
    color: #6b6b6b;
    padding-right: 10px;
    text-align: right;
    font-size: 15px;
    padding-left: 0;
}

nav > ul{
    display: flex;
    flex-flow: column;
}

nav > ul > li {
    display:table-cell;
    text-align: right;
    color:#6b6b6b;
    margin-top: 10px;
    padding-left: 10px;
}

nav > ul > li > a{
    display:block;
    text-decoration:none;
    /* transition:all 0.3s ease-in-out; */
    color: #6b6b6b;
    text-decoration: none;
}

nav > ul > li > a > span.title{
    font-size: 12px;
    text-transform: uppercase;
}

nav > ul > li > a:hover{
    color:#a365ba;
    text-decoration: none;
    /* border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #a365ba; */
}
nav > ul > li.active{
     color:#a365ba;
     padding-right: 10px;
     font-weight: bold;
     border-right-style: solid;
     border-right-width: 5px;
     border-right-color: #a365ba;
  }

  nav > ul > li.active > a{
    color:#a365ba;
 }


 .title-search-contianer{
     text-align: center;
     font-size: 30px;
     font-weight: bold;
     line-height: 1;
     margin-bottom: 60px;
 }

 .sub-title-search {
    font-weight: 100;
    font-size: 24px;
 }

 .title-search{
    color:#a365ba;
 }

 .title-feet-search{
     text-align: center;
     margin-top: 10px;
 }

#search-filters-container > * {
    margin-right: 20px;
}

#search-filters-container .btn-group {
    width: 140px;
}

#apply-filters {
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #6200E8;
    outline: none;
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
@media screen and (max-width: 740px) {
    .filter-container{
        display: block !important;
        font-size: 1.5rem !important;
    }
}

#search-filters-tags-container {
    margin-bottom: 35px;
}

#clean-filters {
    margin-top: 10px;
    background: #C8DAFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
    padding: 4px 12px;
    cursor: pointer;
}

.filter-tag {
    padding: 4px 12px;
    margin-top: 10px;
    background: #DFDFDF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 24px;
    margin-right: 15px;
}

.filter-tag-value {
    font-size: 14px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.87);
}

.filter-tag-remove {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 2px;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.87);
}

.download-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-all {
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 70px;
}

[id^=download-filtered] {
    outline: none;
    border: none;
    cursor: pointer;
    color: #6200E8;
}

#download-filtered-by-name-container{
    display: none;
    margin-top: 60px;
}

 /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 1;
    left: 1;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container img {
    margin-left: 20px;
    padding-bottom: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .pre-checkmark .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .pre-checkmark .checkmark {
    background-color: #000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .pre-checkmark{
    border-radius: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10;
    left: 0;
    margin-right: 10px;
    overflow: hidden;
    }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .pre-checkmark .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .pre-checkmark .checkmark:after {
    left: 5px;
    top: 5px;
    width: 5px;
    height: 10px;
  }
.head-filter{
    /* H4 */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;

}
/* ****************TOOTLTIPS *********************/
/* ****************** For Type Filter ************************ */
/* Tooltip container */
.tooltip-config i {
    color: #EC6961;
    margin: 2px;
    position: relative;
    top: -20px;
    right: 0px;
    font-size: 70%;
}
.tooltip-config {
    position: relative !important;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip-config .tooltiptext {
    visibility: hidden;
    color: #000;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;


    width: 195px;
    height: auto;
    left: 27px;
    top: 2.02px;

    /* gris claro */
    border: 2px solid #467CF6;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  }
  .tooltip-config .tiptext::after {
    /* visibility: visible; */
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltiptext{
    /* Captions */

    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */

    text-align: center;

    color: #000000;

}
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip-config:hover .tooltiptext {
    visibility: visible;
  }
/* ******************* For Graph ******************** */
#tooltip-container{
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #CD3D27;
    padding: 10px;
    min-width: fit-content;
    display: none;
    position:fixed;
    z-index: 999;
    background-color: #fff;
    padding-right: 10px;

}

.tooltip-row{
    text-align: left;
}

.tooltip-label{
    font-size: 11px;
}

.tooltip-info{
    font-size: 12px;
    font-weight: bold;
}

#tooltip-denunciado{
    font-size: 14px;
    line-height: normal;
    margin: 0px
}

.tooltip-row > p {
    line-height: normal;
    margin-bottom: 8px;
}

#t{
    position: absolute;
    left: -10px;
    top: -0px
}

.overRed{
    background-color: red !important;
}

.viz-caption{
    color: #5a5a5a;
    font-size: 12px;
}

.reports-search{
    margin-top: 70px;
    /* padding: 30px; */
    
}

#reports-search-input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.3rem;
    line-height: 100px;/* Centrado vertical */
  }

.reports-search p , #reports-rearch-input{
    /* H4 */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;

}
.reports-search-input-container{
    width: 100%;
    justify-content: center;
    border: 2px solid #3157AC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    /* height: 20px; */
    /* padding: 0 80px; */
    /* position: absolute; */

}
  .reports-search-input-container i{
    color: #3157AC;
    
 }
 /*
.container-input{
    background: #FFFFFF;
    border: 2px solid #3157AC;
    border-right: none;
} */
.content-i {
    width: auto;
    justify-content: center;
    text-align: center;    
}

/* .reports-search-input-container .fas {
   margin: auto;
}  */

#reports-search-input{
    height: auto;
    display: inline;
    float: left;
    background-color: transparent;
    /* border: 1px solid;
    border-radius: 3px; */
    padding-left: 10px;
    width: 90%;
    border:none;
    /* box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px; */
    /* width: 100%; */
}
#reports-search-input:focus{
    outline: none;
    border: none !important;
}
#reports-search-results{
    visibility: hidden;
    margin-top: 20px;
    padding-top: 25px;
    max-height: 700px;
    overflow-y: scroll;
}
.solidbtn{

    width: 197px;
    height: 50px;
    left: 732px;
    top: 1872px;

    background: #3157AC;
    border-radius: 5px;

    /* texto boton */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 167% */

    text-align: center;

    color: #FFFFFF;


}
.transparentbtn{
    width: 197px;
    height: 50px;
    left: 732px;
    top: 1872px;

    background: #fff;
    border: 1px solid #3157AC !important;
    border-radius: 5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    text-align: center;

    color: #3157AC;


}
.report-result{
    border: 1px solid;
    margin-bottom: 15px;
    display: flex;
    height: 250px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.9); 
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.9);
}

.report-result-info{
    padding: 10px;
    width: 100%;
}

.line{
    display: flex;
}

.report-date-title, .expiry-date-title{
    display: block;
}

.report-response > *{
    display: block;
    float: left;
}

.report-date, .expiry-date{
    margin-left: auto;
    order: 2;
    margin-bottom: 10px;
}

.report-date-value, .expiry-date-value{
    float: right;
}
/* #status-color{
    height: 1fr;
} */
.status, .remaining-time{
    display: contents;
    font-weight: 600;
}

.status{
    font-size: 20px;
}

.remaining-time{
    font-size: 14px;
}

.result-color-tag{
    width: 12px;
    display: block;
    float: left;
    background-color: #858585;
    border-radius: 5px 0px 0px 5px;
}
/* Abiertas  caducidad entre 3 y 2 años    ->  color verde
                caducidad  entre 2 y 1            -> amarillo
                caducidad en menos de 1      -> rojo
Cerradas  desestimada -> celeste #6C9EFF
                   con juicio publico -> asmarillo  #E59D3F
                   con sancion -> verde #1DD1A1
                    caducada -> rojo #EC6961
 */ 
 .closed, .closed-with-sanction, .closed-with-judgment, .closed-dismissed{
    height: 62.5px !important;
}
.opened , .opened-to-expire, .closed-with-sanction, .opened-short-expiry{
    height: 100%;
}
.closed, .opened-to-expire{
    background-color: #EC6961;
}


.opened, .closed-with-sanction{
    background-color: #1DD1A1;
}

.opened-short-expiry, .closed-with-judgment{
    width: 100%;
    display: block;
    float: left;
    background-color: #E59D3F;
}
.closed-dismissed{
    background-color: #6C9EFF;
}
.judge-names-title, .report-response-title, .closing-reason-title{
    text-decoration: underline;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 15px;
    }
    .dot{
        min-height: 4px;
        min-width: 4px;
        border-radius: 10px;
        margin-right: 2px;
        margin-bottom: 2px;   
    }
    .dot-ref{
        min-height: 20px;
        min-width: 20px;
    }
    .ref-text{
        font-size: 13px;
    }
    .title-search-contianer{
        font-size: 20px;
    }
    .container {
        font-size: 11px;
    }
    .checkmark {
        height: 14px;
        width: 14px;
    }
    .pre-checkmark {
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
    .container .pre-checkmark .checkmark:after {
        left: 5px;
        top: 5px;
        width: 5px;
        height: 10px;
    }
    #reports-search-input{
        font-size: 12px;
    }
}